<section class="text-center">
    <img class="p-5 d-block m-2" width="200" src="/contents/images-icons/404.png" />

    <p class="text-danger">
        Rất tiếc, nội dung này đã không còn tồn tại, xin mời <a href="/">về trang chủ</a>
    </p>
</section>