<div class="breadcrumb_background">
    <div class="title_full">
        <div class="container a-center">
            <p class="title_page">Trang tìm kiếm</p>
        </div>
    </div>
</div>
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb" itemscope="" itemtype="https://data-vocabulary.org/Breadcrumb">
                    <li class="home">
                        <a itemprop="url" href="/"><span itemprop="title">Trang chủ</span></a>
                        <span class="mr_lr">&nbsp;/&nbsp;</span>
                    </li>
                    <li><strong><span itemprop="title">Tìm kiếm</span></strong></li>

                </ul>
            </div>
        </div>
    </div>
</section>
<section class="signup search-main">
    <div class="container">
        <div class="row">




            <div class="col-xs-12 margin-bottom-15">
                <h1 class="title-head title_search">Có 4 kết quả tìm kiếm phù hợp</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-30">
                <div class="products-view-gridsss products cls_search list_hover_pro">
                    <div class="row content_col">

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-20">
                            <div class="item_product_main item_product_main_relative">
                                <div class="item">





















































                                    <div class="product-item grid product-box product-item-main clearfix">
                                        <div class="product-thumbnail">

                                            <a title="Xem nhanh" href="/cap-sac-iphone-jellico-chinh-hang" data-handle="cap-sac-iphone-jellico-chinh-hang" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                            </a>


                                            <div class="saleright">
                                                <span>
                                                    -
                                                    17%
                                                </span>
                                            </div>

                                            <a class="image_thumb" href="/cap-sac-iphone-jellico-chinh-hang" title="Cáp sạc iPhone Jellico chính hãng">
                                                <img src="//bizweb.dktcdn.net/thumb/large/100/341/423/products/14-1.jpg?v=1544704353123" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/14-1.jpg?v=1544704353123" alt="Cáp sạc iPhone Jellico chính hãng">
                                            </a>

                                        </div>
                                        <div class="product-detail product-info">

                                            <div class="reviews_details_product">
                                                <div class="bizweb-product-reviews-badge" data-id="13363400">
                                                    <div class="bizweb-product-reviews-star" data-score="0" data-number="5" title="Not rated yet!" style="color: rgb(255, 190, 0);"><i data-alt="1" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="2" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="3" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="4" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="5" class="star-off-png" title="Not rated yet!"></i><input name="score" type="hidden" readonly=""></div>
                                                    <div>
                                                        <img src="https://productreviews.computingapps.vn//assets/images/user.png" width="18" height="17">
                                                    </div>
                                                </div>
                                            </div>

                                            <h3 class="product-title">
                                                <a href="/cap-sac-iphone-jellico-chinh-hang" title="Cáp sạc iPhone Jellico chính hãng">Cáp sạc iPhone Jellico chính hãng</a>
                                            </h3>

                                            <div class="blockprice ">
                                                <div class="hidden percent tag-style">
                                                    <a>
                                                        17%
                                                    </a>
                                                </div>
                                                <div class="product-item-price price-box">



                                                    <span class="price-style">
                                                        <span class="old-price">120.000₫</span>
                                                    </span>

                                                    <span class="price-style">
                                                        <span class="special-price">100.000₫</span>
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-view product-action clearfix">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-13363400" enctype="multipart/form-data">
                                                <div class="add-cart btn-buy button">

                                                    <input class="hidden" type="hidden" name="variantId" value="22187436">
                                                    <a class="btn-cart button_35 left-to" title="Chọn sản phẩm" href="/cap-sac-iphone-jellico-chinh-hang">
                                                        <span>Tùy chọn</span>
                                                    </a>

                                                </div>

                                            </form>

                                        </div>
                                    </div>




                                    <div class="hidden product-box product-item-main product-item-compare">

                                        <div class="product-thumbnail">

                                            <a class="image_thumb p_img" href="/cap-sac-iphone-jellico-chinh-hang" title="Cáp sạc iPhone Jellico chính hãng">
                                                <img src="//bizweb.dktcdn.net/100/341/423/themes/777143/assets/rolling.svg?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/medium/100/341/423/products/14-1.jpg?v=1544704353123" alt="Cáp sạc iPhone Jellico chính hãng">
                                            </a>

                                            <div class="saleright">
                                                <span>
                                                    -
                                                    17%
                                                </span>
                                            </div>


                                            <a data-toggle="tooltip" title="" href="/cap-sac-iphone-jellico-chinh-hang" data-handle="cap-sac-iphone-jellico-chinh-hang" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm" data-original-title="Xem nhanh">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <div class="product-action clearfix">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-13363400" enctype="multipart/form-data">
                                                    <div class="group_action">

                                                        <input class="hidden" type="hidden" name="variantId" value="22187436">
                                                        <a data-toggle="tooltip" class="btn-cart firstb button_35 left-to bold-text" title="" href="/cap-sac-iphone-jellico-chinh-hang" data-original-title="Tùy chọn">
                                                            <i class="fa fa-cogs"></i>Tùy chọn
                                                        </a>


                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                        <div class="product-info product-bottom mh">

                                            <h3 class="product-name">
                                                <a href="/cap-sac-iphone-jellico-chinh-hang" title="Cáp sạc iPhone Jellico chính hãng">Cáp sạc iPhone Jellico chính hãng</a>
                                            </h3>

                                            <div class="section">
                                                <div class="blockprice">
                                                    <div class="product-item-price price-box">


                                                        <span class="special-price">
                                                            <span class="price product-price">100.000₫</span>
                                                        </span>

                                                        <span class="product-item-price-sale old-price">
                                                            <span class="compare-price price product-price-old">120.000₫</span>
                                                        </span>



                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-20">
                            <div class="item_product_main item_product_main_relative">
                                <div class="item">





















































                                    <div class="product-item grid product-box product-item-main clearfix">
                                        <div class="product-thumbnail">

                                            <a title="Xem nhanh" href="/iphone-xs-max-64gb" data-handle="iphone-xs-max-64gb" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                            </a>


                                            <div class="saleright">
                                                <span>
                                                    -
                                                    4%
                                                </span>
                                            </div>

                                            <a class="image_thumb" href="/iphone-xs-max-64gb" title="iPhone Xs Max 64GB">
                                                <img src="//bizweb.dktcdn.net/thumb/large/100/341/423/products/2-1.png?v=1544432807387" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/2-1.png?v=1544432807387" alt="iPhone Xs Max 64GB">
                                            </a>

                                        </div>
                                        <div class="product-detail product-info">

                                            <div class="reviews_details_product">
                                                <div class="bizweb-product-reviews-badge" data-id="13342305">
                                                    <div class="bizweb-product-reviews-star" data-score="0" data-number="5" title="Not rated yet!" style="color: rgb(255, 190, 0);"><i data-alt="1" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="2" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="3" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="4" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="5" class="star-off-png" title="Not rated yet!"></i><input name="score" type="hidden" readonly=""></div>
                                                    <div>
                                                        <img src="https://productreviews.computingapps.vn//assets/images/user.png" width="18" height="17">
                                                    </div>
                                                </div>
                                            </div>

                                            <h3 class="product-title">
                                                <a href="/iphone-xs-max-64gb" title="iPhone Xs Max 64GB">iPhone Xs Max 64GB</a>
                                            </h3>

                                            <div class="blockprice ">
                                                <div class="hidden percent tag-style">
                                                    <a>
                                                        4%
                                                    </a>
                                                </div>
                                                <div class="product-item-price price-box">



                                                    <span class="price-style">
                                                        <span class="old-price">35.390.000₫</span>
                                                    </span>

                                                    <span class="price-style">
                                                        <span class="special-price">34.000.000₫</span>
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-view product-action clearfix">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-13342305" enctype="multipart/form-data">
                                                <div class="add-cart btn-buy button">

                                                    <input class="hidden" type="hidden" name="variantId" value="22125157">
                                                    <a class="btn-cart button_35 left-to" title="Chọn sản phẩm" href="/iphone-xs-max-64gb">
                                                        <span>Tùy chọn</span>
                                                    </a>

                                                </div>

                                            </form>

                                        </div>
                                    </div>




                                    <div class="hidden product-box product-item-main product-item-compare">

                                        <div class="product-thumbnail">

                                            <a class="image_thumb p_img" href="/iphone-xs-max-64gb" title="iPhone Xs Max 64GB">
                                                <img src="//bizweb.dktcdn.net/100/341/423/themes/777143/assets/rolling.svg?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/medium/100/341/423/products/2-1.png?v=1544432807387" alt="iPhone Xs Max 64GB">
                                            </a>

                                            <div class="saleright">
                                                <span>
                                                    -
                                                    4%
                                                </span>
                                            </div>


                                            <a data-toggle="tooltip" title="" href="/iphone-xs-max-64gb" data-handle="iphone-xs-max-64gb" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm" data-original-title="Xem nhanh">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <div class="product-action clearfix">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-13342305" enctype="multipart/form-data">
                                                    <div class="group_action">

                                                        <input class="hidden" type="hidden" name="variantId" value="22125157">
                                                        <a data-toggle="tooltip" class="btn-cart firstb button_35 left-to bold-text" title="" href="/iphone-xs-max-64gb" data-original-title="Tùy chọn">
                                                            <i class="fa fa-cogs"></i>Tùy chọn
                                                        </a>


                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                        <div class="product-info product-bottom mh">

                                            <h3 class="product-name">
                                                <a href="/iphone-xs-max-64gb" title="iPhone Xs Max 64GB">iPhone Xs Max 64GB</a>
                                            </h3>

                                            <div class="section">
                                                <div class="blockprice">
                                                    <div class="product-item-price price-box">


                                                        <span class="special-price">
                                                            <span class="price product-price">34.000.000₫</span>
                                                        </span>

                                                        <span class="product-item-price-sale old-price">
                                                            <span class="compare-price price product-price-old">35.390.000₫</span>
                                                        </span>



                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-20">
                            <div class="item_product_main item_product_main_relative">
                                <div class="item">





















































                                    <div class="product-item grid product-box product-item-main clearfix">
                                        <div class="product-thumbnail">

                                            <a title="Xem nhanh" href="/iphone-xr-128gb" data-handle="iphone-xr-128gb" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                            </a>


                                            <div class="saleright">
                                                <span>
                                                    -
                                                    8%
                                                </span>
                                            </div>

                                            <a class="image_thumb" href="/iphone-xr-128gb" title="iPhone XR 128GB">
                                                <img src="//bizweb.dktcdn.net/thumb/large/100/341/423/products/10-1.png?v=1544578028000" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/10-1.png?v=1544578028000" alt="iPhone XR 128GB">
                                            </a>

                                        </div>
                                        <div class="product-detail product-info">

                                            <div class="reviews_details_product">
                                                <div class="bizweb-product-reviews-badge" data-id="13351058">
                                                    <div class="bizweb-product-reviews-star" data-score="3" data-number="5" title="Bình thường" style="color: rgb(255, 190, 0);"><i data-alt="1" class="star-on-png" title="Bình thường"></i>&nbsp;<i data-alt="2" class="star-on-png" title="Bình thường"></i>&nbsp;<i data-alt="3" class="star-on-png" title="Bình thường"></i>&nbsp;<i data-alt="4" class="star-off-png" title="Bình thường"></i>&nbsp;<i data-alt="5" class="star-off-png" title="Bình thường"></i><input name="score" type="hidden" value="3" readonly=""></div>
                                                    <div>
                                                        <p>2</p>
                                                    </div>
                                                    <div>
                                                        <img src="https://productreviews.computingapps.vn//assets/images/user.png" width="18" height="17">
                                                    </div>
                                                </div>
                                            </div>

                                            <h3 class="product-title">
                                                <a href="/iphone-xr-128gb" title="iPhone XR 128GB">iPhone XR 128GB</a>
                                            </h3>

                                            <div class="blockprice ">
                                                <div class="hidden percent tag-style">
                                                    <a>
                                                        8%
                                                    </a>
                                                </div>
                                                <div class="product-item-price price-box">



                                                    <span class="price-style">
                                                        <span class="old-price">27.000.000₫</span>
                                                    </span>

                                                    <span class="price-style">
                                                        <span class="special-price">24.900.000₫</span>
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-view product-action clearfix">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-13351058" enctype="multipart/form-data">
                                                <div class="add-cart btn-buy button">

                                                    <input class="hidden" type="hidden" name="variantId" value="22157484">
                                                    <a class="btn-cart button_35 left-to" title="Chọn sản phẩm" href="/iphone-xr-128gb">
                                                        <span>Tùy chọn</span>
                                                    </a>

                                                </div>

                                            </form>

                                        </div>
                                    </div>




                                    <div class="hidden product-box product-item-main product-item-compare">

                                        <div class="product-thumbnail">

                                            <a class="image_thumb p_img" href="/iphone-xr-128gb" title="iPhone XR 128GB">
                                                <img src="//bizweb.dktcdn.net/100/341/423/themes/777143/assets/rolling.svg?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/medium/100/341/423/products/10-1.png?v=1544578028000" alt="iPhone XR 128GB">
                                            </a>

                                            <div class="saleright">
                                                <span>
                                                    -
                                                    8%
                                                </span>
                                            </div>


                                            <a data-toggle="tooltip" title="" href="/iphone-xr-128gb" data-handle="iphone-xr-128gb" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm" data-original-title="Xem nhanh">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <div class="product-action clearfix">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-13351058" enctype="multipart/form-data">
                                                    <div class="group_action">

                                                        <input class="hidden" type="hidden" name="variantId" value="22157484">
                                                        <a data-toggle="tooltip" class="btn-cart firstb button_35 left-to bold-text" title="" href="/iphone-xr-128gb" data-original-title="Tùy chọn">
                                                            <i class="fa fa-cogs"></i>Tùy chọn
                                                        </a>


                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                        <div class="product-info product-bottom mh">

                                            <h3 class="product-name">
                                                <a href="/iphone-xr-128gb" title="iPhone XR 128GB">iPhone XR 128GB</a>
                                            </h3>

                                            <div class="section">
                                                <div class="blockprice">
                                                    <div class="product-item-price price-box">


                                                        <span class="special-price">
                                                            <span class="price product-price">24.900.000₫</span>
                                                        </span>

                                                        <span class="product-item-price-sale old-price">
                                                            <span class="compare-price price product-price-old">27.000.000₫</span>
                                                        </span>



                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 margin-bottom-20">
                            <div class="item_product_main item_product_main_relative">
                                <div class="item">















































                                    <div class="product-item grid product-box product-item-main clearfix">
                                        <div class="product-thumbnail">

                                            <a title="Xem nhanh" href="/asus-zenfone-5-ze620kl" data-handle="asus-zenfone-5-ze620kl" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                            </a>


                                            <div class="saleright">
                                                <span>
                                                    -
                                                    20%
                                                </span>
                                            </div>

                                            <a class="image_thumb" href="/asus-zenfone-5-ze620kl" title="Asus Zenfone 5 (ZE620KL)">
                                                <img src="//bizweb.dktcdn.net/thumb/large/100/341/423/products/8-3.jpg?v=1544436321587" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/products/8-3.jpg?v=1544436321587" alt="Asus Zenfone 5 (ZE620KL)">
                                            </a>

                                        </div>
                                        <div class="product-detail product-info">

                                            <div class="reviews_details_product">
                                                <div class="bizweb-product-reviews-badge" data-id="13342907">
                                                    <div class="bizweb-product-reviews-star" data-score="0" data-number="5" title="Not rated yet!" style="color: rgb(255, 190, 0);"><i data-alt="1" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="2" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="3" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="4" class="star-off-png" title="Not rated yet!"></i>&nbsp;<i data-alt="5" class="star-off-png" title="Not rated yet!"></i><input name="score" type="hidden" readonly=""></div>
                                                    <div>
                                                        <img src="https://productreviews.computingapps.vn//assets/images/user.png" width="18" height="17">
                                                    </div>
                                                </div>
                                            </div>

                                            <h3 class="product-title">
                                                <a href="/asus-zenfone-5-ze620kl" title="Asus Zenfone 5 (ZE620KL)">Asus Zenfone 5 (ZE620KL)</a>
                                            </h3>

                                            <div class="blockprice ">
                                                <div class="hidden percent tag-style">
                                                    <a>
                                                        20%
                                                    </a>
                                                </div>
                                                <div class="product-item-price price-box">



                                                    <span class="price-style">
                                                        <span class="old-price">10.000.000₫</span>
                                                    </span>

                                                    <span class="price-style">
                                                        <span class="special-price">7.990.000₫</span>
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-view product-action clearfix">
                                            <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-13342907" enctype="multipart/form-data">
                                                <div class="add-cart btn-buy button">

                                                    <input type="hidden" name="variantId" value="22128810">
                                                    <a class="btn-buy btn-cart button_35 left-to add_to_cart" title="Cho vào giỏ hàng">
                                                        <span>Mua ngay</span>
                                                    </a>

                                                </div>

                                            </form>

                                        </div>
                                    </div>




                                    <div class="hidden product-box product-item-main product-item-compare">

                                        <div class="product-thumbnail">

                                            <a class="image_thumb p_img" href="/asus-zenfone-5-ze620kl" title="Asus Zenfone 5 (ZE620KL)">
                                                <img src="//bizweb.dktcdn.net/100/341/423/themes/777143/assets/rolling.svg?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/medium/100/341/423/products/8-3.jpg?v=1544436321587" alt="Asus Zenfone 5 (ZE620KL)">
                                            </a>

                                            <div class="saleright">
                                                <span>
                                                    -
                                                    20%
                                                </span>
                                            </div>


                                            <a data-toggle="tooltip" title="" href="/asus-zenfone-5-ze620kl" data-handle="asus-zenfone-5-ze620kl" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm" data-original-title="Xem nhanh">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <div class="product-action clearfix">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-13342907" enctype="multipart/form-data">
                                                    <div class="group_action">

                                                        <input type="hidden" name="variantId" value="22128810">
                                                        <a data-toggle="tooltip" class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="" data-original-title="Mua ngay">
                                                            <i class="fa fa-shopping-basket"></i>Thêm vào giỏ
                                                        </a>


                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                        <div class="product-info product-bottom mh">

                                            <h3 class="product-name">
                                                <a href="/asus-zenfone-5-ze620kl" title="Asus Zenfone 5 (ZE620KL)">Asus Zenfone 5 (ZE620KL)</a>
                                            </h3>

                                            <div class="section">
                                                <div class="blockprice">
                                                    <div class="product-item-price price-box">


                                                        <span class="special-price">
                                                            <span class="price product-price">7.990.000₫</span>
                                                        </span>

                                                        <span class="product-item-price-sale old-price">
                                                            <span class="compare-price price product-price-old">10.000.000₫</span>
                                                        </span>



                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>