<div class="searchbox">
    <div action="https://computing.edu.vn/search" method="get" class="input-group search-bar" role="search">
        <span class="input-group-btn">
            <button type="submit" class="btn icon-fallback-text">
                <i class="fa fa-search"></i>
            </button>
        </span>
        <input type="text" name="query" value="" autocomplete="off" placeholder="Tìm kiếm..." class="input-group-field auto-search">
    </div>
</div>