<ul class="level0" style="display: none;">
    <li class="level1">
        <a href="tin-moi.html"><span>Tin mới</span> </a>
    </li>
    <li class="level1">
        <a href="thu-thuat.html"><span>Thủ thuật</span> </a>
    </li>
    <li class="level1">
        <a href="xu-huong.html"><span>Xu hướng</span> </a>
    </li>
</ul>