<div class="breadcrumb_background">
    <div class="title_full">
        <div class="container a-center">
            <h1 class="title_page">Tin tức</h1>
        </div>
    </div>
</div>
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                    <li class="home">
                        <a itemprop="url" href="index.html"><span itemprop="title">Trang chủ</span></a>
                        <span class="mr_lr">&nbsp;/&nbsp;</span>
                    </li>


                    <li><strong><span itemprop="title">Tin tức</span></strong></li>


                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container" itemscope itemtype="https://schema.org/Blog">
    <meta itemprop="name" content="Tin tức">
    <meta itemprop="description" content="">
    <div class="wrap_background_aside padding-top-15 margin-bottom-10">
        <div class="row">
            <div class="content_all f-left w_100">
                <div class="right-content margin-bottom-fix margin-bottom-50-article col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3">


                    <div class="list-blogs blog-main">
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="itemblog">
                                    <div class="blog_index">
                                        <div class="myblog" onclick="window.location.href='huawei-nova-3-va-mot-so-may-nova-khac-duoc-cap-nhat-android-pie.html';">
                                            <div class="image-blog-left col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <a href="huawei-nova-3-va-mot-so-may-nova-khac-duoc-cap-nhat-android-pie.html">
                                                    <img src="contents/images-icons/loading-icon-frame0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/articles/blog-5.png?v=1544851537657" title="Huawei Nova 3 và một số máy Nova khác được cập nhật Android Pie" alt="Huawei Nova 3 và một số máy Nova khác được cập nhật Android Pie">
                                                </a>

                                            </div>
                                            <div class="content_blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="h3">
                                                    <a href="huawei-nova-3-va-mot-so-may-nova-khac-duoc-cap-nhat-android-pie.html" title="Huawei Nova 3 và một số máy Nova khác được cập nhật Android Pie">Huawei Nova 3 và một số máy Nova khác được cập nhật Android Pie</a>
                                                </h3>

                                                <div class="summary_item_blog">
                                                    <p>
                                                        Huawei Nova 3 đã bắt đầu được cập nhật Android Pie thông qua giao thức OTA, và hiện người dùng tại Trung Quốc đã có thể tải về cài đặt.
                                                        Việc nâng cấp không chỉ mang đến cho ng...
                                                    </p>
                                                </div>
                                                <span class="time_post">
                                                    <span class="name_">15-12-2018</span>
                                                </span>
                                                <a href="huawei-nova-3-va-mot-so-may-nova-khac-duoc-cap-nhat-android-pie.html" class="readmore_" title="Đọc tiếp">
                                                    <span class="read">
                                                        Đọc tiếp
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="itemblog">
                                    <div class="blog_index">
                                        <div class="myblog" onclick="window.location.href='smartphone-tai-tho-realme-c1-tiep-tuc-duoc-giam-gia-tot.html';">
                                            <div class="image-blog-left col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <a href="smartphone-tai-tho-realme-c1-tiep-tuc-duoc-giam-gia-tot.html">
                                                    <img src="contents/images-icons/loading-icon-frame0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/articles/blog-3.png?v=1544851731900" title="Smartphone tai thỏ Realme C1 tiếp tục được giảm giá tốt" alt="Smartphone tai thỏ Realme C1 tiếp tục được giảm giá tốt">
                                                </a>

                                            </div>
                                            <div class="content_blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="h3">
                                                    <a href="smartphone-tai-tho-realme-c1-tiep-tuc-duoc-giam-gia-tot.html" title="Smartphone tai thỏ Realme C1 tiếp tục được giảm giá tốt">Smartphone tai thỏ Realme C1 tiếp tục được giảm giá tốt</a>
                                                </h3>

                                                <div class="summary_item_blog">
                                                    <p>
                                                        Mẫu smartphone giá rẻ với thiết kế hiện đại, trẻ trung cùng camera kép Realme C1 mới đây tiếp tục được giảm giá, cơ hội tốt để nhiều bạn trẻ dễ dàng sở hữu máy hơn.
                                                        Theo đ...
                                                    </p>
                                                </div>
                                                <span class="time_post">
                                                    <span class="name_">15-12-2018</span>
                                                </span>
                                                <a href="smartphone-tai-tho-realme-c1-tiep-tuc-duoc-giam-gia-tot.html" class="readmore_" title="Đọc tiếp">
                                                    <span class="read">
                                                        Đọc tiếp
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="itemblog">
                                    <div class="blog_index">
                                        <div class="myblog" onclick="window.location.href='nokia-8-se-co-ban-cap-nhat-android-9-pie-vao-ngay-11-12.html';">
                                            <div class="image-blog-left col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <a href="nokia-8-se-co-ban-cap-nhat-android-9-pie-vao-ngay-11-12.html">
                                                    <img src="contents/images-icons/loading-icon-frame0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/articles/blog-4.png?v=1544851799700" title="Nokia 8 sẽ có bản cập nhật Android 9 Pie vào ngày 11/12" alt="Nokia 8 sẽ có bản cập nhật Android 9 Pie vào ngày 11/12">
                                                </a>

                                            </div>
                                            <div class="content_blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="h3">
                                                    <a href="nokia-8-se-co-ban-cap-nhat-android-9-pie-vao-ngay-11-12.html" title="Nokia 8 sẽ có bản cập nhật Android 9 Pie vào ngày 11/12">Nokia 8 sẽ có bản cập nhật Android 9 Pie vào ngày 11/12</a>
                                                </h3>

                                                <div class="summary_item_blog">
                                                    <p>Tin vui cho các bạn đang sử dụng Nokia 8, máy sẽ chính thức có bản cập nhật Android 9 Pie vào ngày 11/12, đây là thông báo mới cập từ trang Nokia Mobile. Trước đó thì bản cập n...</p>
                                                </div>
                                                <span class="time_post">
                                                    <span class="name_">15-12-2018</span>
                                                </span>
                                                <a href="nokia-8-se-co-ban-cap-nhat-android-9-pie-vao-ngay-11-12.html" class="readmore_" title="Đọc tiếp">
                                                    <span class="read">
                                                        Đọc tiếp
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="itemblog">
                                    <div class="blog_index">
                                        <div class="myblog" onclick="window.location.href='iphone-8-256-gb-bat-ngo-dieu-chinh-gia-ban-giam-soc-2-800-000-dong.html';">
                                            <div class="image-blog-left col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <a href="iphone-8-256-gb-bat-ngo-dieu-chinh-gia-ban-giam-soc-2-800-000-dong.html">
                                                    <img src="contents/images-icons/loading-icon-frame0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/articles/blog-1.png?v=1544851888787" title="iPhone 8 256 GB bất ngờ điều chỉnh giá bán, giảm sốc 2.800.000 đồng" alt="iPhone 8 256 GB bất ngờ điều chỉnh giá bán, giảm sốc 2.800.000 đồng">
                                                </a>

                                            </div>
                                            <div class="content_blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="h3">
                                                    <a href="iphone-8-256-gb-bat-ngo-dieu-chinh-gia-ban-giam-soc-2-800-000-dong.html" title="iPhone 8 256 GB bất ngờ điều chỉnh giá bán, giảm sốc 2.800.000 đồng">iPhone 8 256 GB bất ngờ điều chỉnh giá bán, giảm sốc 2.800.000 đồng</a>
                                                </h3>

                                                <div class="summary_item_blog">
                                                    <p>Tuy không có quá nhiều thay đổi về thiết kế so với các phiên bản trước đó, nhưng iPhone 8 256 GB vẫn sở hữu nhiều điểm nhấn, đáng chú ý nhất là mặt lưng đã chuyển sang phong cá...</p>
                                                </div>
                                                <span class="time_post">
                                                    <span class="name_">15-12-2018</span>
                                                </span>
                                                <a href="iphone-8-256-gb-bat-ngo-dieu-chinh-gia-ban-giam-soc-2-800-000-dong.html" class="readmore_" title="Đọc tiếp">
                                                    <span class="read">
                                                        Đọc tiếp
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="itemblog">
                                    <div class="blog_index">
                                        <div class="myblog" onclick="window.location.href='day-la-nhung-sai-lam-ma-ban-khong-nen-mac-phai-khi-mua-smartphone-moi.html';">
                                            <div class="image-blog-left col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <a href="day-la-nhung-sai-lam-ma-ban-khong-nen-mac-phai-khi-mua-smartphone-moi.html">
                                                    <img src="contents/images-icons/loading-icon-frame0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/articles/blog-7.png?v=1544852011357" title="Đây là những sai lầm mà bạn không nên mắc phải khi mua smartphone mới" alt="Đây là những sai lầm mà bạn không nên mắc phải khi mua smartphone mới">
                                                </a>

                                            </div>
                                            <div class="content_blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="h3">
                                                    <a href="day-la-nhung-sai-lam-ma-ban-khong-nen-mac-phai-khi-mua-smartphone-moi.html" title="Đây là những sai lầm mà bạn không nên mắc phải khi mua smartphone mới">Đây là những sai lầm mà bạn không nên mắc phải khi mua smartphone mới</a>
                                                </h3>

                                                <div class="summary_item_blog">
                                                    <p>Như tiêu đề, thì hôm nay mình sẽ cùng "đàm đạo" với mọi người các sai lầm thường mắc phải khi quyết định chọn mua một chiếc smartphone nào đó. Hy vọng thông tin sau sẽ giúp các...</p>
                                                </div>
                                                <span class="time_post">
                                                    <span class="name_">15-12-2018</span>
                                                </span>
                                                <a href="day-la-nhung-sai-lam-ma-ban-khong-nen-mac-phai-khi-mua-smartphone-moi.html" class="readmore_" title="Đọc tiếp">
                                                    <span class="read">
                                                        Đọc tiếp
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="itemblog">
                                    <div class="blog_index">
                                        <div class="myblog" onclick="window.location.href='galaxy-a8s-dat-chung-nhan-bluetooth-truoc-ngay-ra-mat.html';">
                                            <div class="image-blog-left col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                <a href="galaxy-a8s-dat-chung-nhan-bluetooth-truoc-ngay-ra-mat.html">
                                                    <img src="contents/images-icons/loading-icon-frame0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/large/100/341/423/articles/blog-6.png?v=1544852094173" title="Galaxy A8s đạt chứng nhận Bluetooth trước ngày ra mắt" alt="Galaxy A8s đạt chứng nhận Bluetooth trước ngày ra mắt">
                                                </a>

                                            </div>
                                            <div class="content_blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="h3">
                                                    <a href="galaxy-a8s-dat-chung-nhan-bluetooth-truoc-ngay-ra-mat.html" title="Galaxy A8s đạt chứng nhận Bluetooth trước ngày ra mắt">Galaxy A8s đạt chứng nhận Bluetooth trước ngày ra mắt</a>
                                                </h3>

                                                <div class="summary_item_blog">
                                                    <p>Galaxy A8s với màn hình Infinity-O được thiết lập để ra mắt vào ngày 10/12 tới và mới đây, máy đã đạt chứng nhận tại Bluetooth SIG, nó cho thấy máy hỗ trợ Bluetooth 5.0. Ngoài ...</p>
                                                </div>
                                                <span class="time_post">
                                                    <span class="name_">15-12-2018</span>
                                                </span>
                                                <a href="galaxy-a8s-dat-chung-nhan-bluetooth-truoc-ngay-ra-mat.html" class="readmore_" title="Đọc tiếp">
                                                    <span class="read">
                                                        Đọc tiếp
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">

                            <nav class="clearfix relative nav_pagi f-left w_100">
                                <ul class="pagination clearfix">

                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">«</a>
                                    </li>





                                    <li class="active page-item disabled">
                                        <a class="page-link" href="#">1</a>
                                    </li>




                                    <li class="page-item">
                                        <a class="page-link" href="tin-tuc4658.html?page=2">2</a>
                                    </li>




                                    <li class="page-item hidden-xs">
                                        <a class="page-link" href="tin-tuc4658.html?page=2">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </nav>


                        </div>
                    </div>


                </div>

                <aside class="left left-content col-md-3 col-lg-3 col-sm-12 col-xs-12 col-lg-pull-9 col-md-pull-9">

                    <aside class="aside-item sidebar-category collection-category">
                        <div class="aside-title">
                            <h2 class="title-head margin-top-0 margin-bottom-10"><span>Danh mục tin tức</span></h2>
                        </div>
                        <div class="aside-content">
                            <nav class="nav-category navbar-toggleable-md">
                                <ul class="nav navbar-pills">



                                    <li class="nav-item lv1">
                                        <a class="nav-link" href="index.html">Trang chủ</a>




                                    <li class="nav-item lv1">
                                        <a class="nav-link" href="gioi-thieu.html">Giới thiệu</a>




                                    <li class="nav-item lv1">
                                        <a class="nav-link" href="collections/collections-all.html">Sản phẩm</a>




                                    <li class="nav-item lv1">
                                        <a href="tin-tuc.html" class="nav-link">Tin tức</a>
                                        <i class="fa fa-angle-right"></i>
                                        <ul class="dropdown-menu">


                                            <li class="nav-item lv2">
                                                <a class="nav-link" href="tin-moi.html">Tin mới</a>
                                            </li>



                                            <li class="nav-item lv2">
                                                <a class="nav-link" href="thu-thuat.html">Thủ thuật</a>
                                            </li>



                                            <li class="nav-item lv2">
                                                <a class="nav-link" href="xu-huong.html">Xu hướng</a>
                                            </li>



                                        </ul>
                                    </li>




                                    <li class="nav-item lv1">
                                        <a class="nav-link" href="lien-he.html">Liên hệ</a>
                                </ul>
                            </nav>
                        </div>
                    </aside>


                    <div class="blog-aside aside-item blog-aside-article">
                        <div>
                            <div class="aside-title">
                                <h2 class="title-head">
                                    <span>
                                        <a href="tin-tuc.html" title="Tin tức nổi bật">Tin tức nổi bật</a>
                                    </span>
                                </h2>
                            </div>
                            <div class="aside-content-article aside-content">
                                <div class="blog-list blog-image-list">



                                    <div class="loop-blog">
                                        <div class="thumb-left">
                                            <a href="huawei-nova-3-va-mot-so-may-nova-khac-duoc-cap-nhat-android-pie.html">

                                                <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/small/100/341/423/articles/blog-5.png?v=1544851537657" style="max-width: 100%;" class="img-responsive" title="Huawei Nova 3 và một số máy Nova khác được cập nhật Android Pie" alt="Huawei Nova 3 và một số máy Nova khác được cập nhật Android Pie">
                                            </a>
                                        </div>
                                        <div class="name-right">
                                            <h3>
                                                <a href="huawei-nova-3-va-mot-so-may-nova-khac-duoc-cap-nhat-android-pie.html" title="Huawei Nova 3 và một số máy Nova khác được cập nhật Android Pie">Huawei Nova 3 và một số máy Nova khác được cập nhật Android Pie</a>
                                            </h3>

                                        </div>
                                    </div>

                                    <div class="loop-blog">
                                        <div class="thumb-left">
                                            <a href="smartphone-tai-tho-realme-c1-tiep-tuc-duoc-giam-gia-tot.html">

                                                <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/small/100/341/423/articles/blog-3.png?v=1544851731900" style="max-width: 100%;" class="img-responsive" title="Smartphone tai thỏ Realme C1 tiếp tục được giảm giá tốt" alt="Smartphone tai thỏ Realme C1 tiếp tục được giảm giá tốt">
                                            </a>
                                        </div>
                                        <div class="name-right">
                                            <h3>
                                                <a href="smartphone-tai-tho-realme-c1-tiep-tuc-duoc-giam-gia-tot.html" title="Smartphone tai thỏ Realme C1 tiếp tục được giảm giá tốt">Smartphone tai thỏ Realme C1 tiếp tục được giảm giá tốt</a>
                                            </h3>

                                        </div>
                                    </div>

                                    <div class="loop-blog">
                                        <div class="thumb-left">
                                            <a href="nokia-8-se-co-ban-cap-nhat-android-9-pie-vao-ngay-11-12.html">

                                                <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/small/100/341/423/articles/blog-4.png?v=1544851799700" style="max-width: 100%;" class="img-responsive" title="Nokia 8 sẽ có bản cập nhật Android 9 Pie vào ngày 11/12" alt="Nokia 8 sẽ có bản cập nhật Android 9 Pie vào ngày 11/12">
                                            </a>
                                        </div>
                                        <div class="name-right">
                                            <h3>
                                                <a href="nokia-8-se-co-ban-cap-nhat-android-9-pie-vao-ngay-11-12.html" title="Nokia 8 sẽ có bản cập nhật Android 9 Pie vào ngày 11/12">Nokia 8 sẽ có bản cập nhật Android 9 Pie vào ngày 11/12</a>
                                            </h3>

                                        </div>
                                    </div>

                                    <div class="loop-blog">
                                        <div class="thumb-left">
                                            <a href="iphone-8-256-gb-bat-ngo-dieu-chinh-gia-ban-giam-soc-2-800-000-dong.html">

                                                <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/small/100/341/423/articles/blog-1.png?v=1544851888787" style="max-width: 100%;" class="img-responsive" title="iPhone 8 256 GB bất ngờ điều chỉnh giá bán, giảm sốc 2.800.000 đồng" alt="iPhone 8 256 GB bất ngờ điều chỉnh giá bán, giảm sốc 2.800.000 đồng">
                                            </a>
                                        </div>
                                        <div class="name-right">
                                            <h3>
                                                <a href="iphone-8-256-gb-bat-ngo-dieu-chinh-gia-ban-giam-soc-2-800-000-dong.html" title="iPhone 8 256 GB bất ngờ điều chỉnh giá bán, giảm sốc 2.800.000 đồng">iPhone 8 256 GB bất ngờ điều chỉnh giá bán, giảm sốc 2.800.000 đồng</a>
                                            </h3>

                                        </div>
                                    </div>

                                    <div class="loop-blog">
                                        <div class="thumb-left">
                                            <a href="day-la-nhung-sai-lam-ma-ban-khong-nen-mac-phai-khi-mua-smartphone-moi.html">

                                                <img src="contents/images-icons/loading-icon0446.png?1594811922421" data-lazyload="//bizweb.dktcdn.net/thumb/small/100/341/423/articles/blog-7.png?v=1544852011357" style="max-width: 100%;" class="img-responsive" title="Đây là những sai lầm mà bạn không nên mắc phải khi mua smartphone mới" alt="Đây là những sai lầm mà bạn không nên mắc phải khi mua smartphone mới">
                                            </a>
                                        </div>
                                        <div class="name-right">
                                            <h3>
                                                <a href="day-la-nhung-sai-lam-ma-ban-khong-nen-mac-phai-khi-mua-smartphone-moi.html" title="Đây là những sai lầm mà bạn không nên mắc phải khi mua smartphone mới">Đây là những sai lầm mà bạn không nên mắc phải khi mua smartphone mới</a>
                                            </h3>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </aside>

            </div>
        </div>
    </div>
</div>